$background-color: #f4f5f9;
$text-color: #42567a;
$border-color: rgba(66, 86, 119, 0.2);
$primary-color: #3877ee;
$fuchsia: #ef5da8;
$blue: #5d5fef;
html,
body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

body {
  background-color: $background-color;
  margin: 0;
  color: $text-color;
  font-family: 'PT Sans';

  .container {
    height: 92vh;
    position: relative;
    overflow: hidden;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    margin: 0 160px 0 320px;
    padding-top: 5em;

    .content {
      margin: 0 80px;
    }
  }

  .dates {
    font-size: 50px;
    max-width: 350px;
    margin-bottom: 0;
    padding-left: 80px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 5px;
      background: linear-gradient(to bottom, $primary-color, $fuchsia);
      z-index: -1;
    }
  }

  .container::before,
  .container::after {
    content: '';
    position: absolute;
    background-color: $border-color;
  }

  .container::before {
    left: 50%;
    top: 0;
    height: 100%;
    width: 1px;
    transform: translateX(-50%);
  }

  .container::after {
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    transform: translateY(-50%);
  }

  .nav-button {
    background-color: transparent;
    border: 1px solid $text-color;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: background-color 0.3s;

    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.5;
    }

    &:hover {
      background-color: #ececec;
    }
  }

  .chevron {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzQyNTY3YSIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xODEuNjYsMTMzLjY2bC04MCw4MGE4LDgsMCwwLDEtMTEuMzItMTEuMzJMMTY0LjY5LDEyOCw5MC4zNCw1My42NmE4LDgsMCwwLDEsMTEuMzItMTEuMzJsODAsODBBOCw4LDAsMCwxLDE4MS42NiwxMzMuNjZaIj48L3BhdGg+PC9zdmc+');
    &.left {
      transform: rotate(180deg);
    }
  }

  .nav-buttons {
    display: flex;
    gap: 20px;
  }

  .title-years {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 75px;

    h1 {
      font-size: 200px;
      margin-top: 80px;
      letter-spacing: -0.05em;
      margin-bottom: 0;

      &.left-year {
        color: $blue;
      }

      &.right-year {
        color: $fuchsia;
      }
    }
  }

  .swiper-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .year {
      margin: 0;
      font-family: 'Bebas Neue';
      font-size: 25px;
      color: $primary-color;
    }

    .events {
      margin: 0;
      font-weight: 400;
      font-size: 20px;
    }
  }

  .swiper-button-disabled {
    display: none;
  }

  .swiper-button-next {
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzM4NzdlZSIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xODQuNDksMTM2LjQ5bC04MCw4MGExMiwxMiwwLDAsMS0xNy0xN0wxNTksMTI4LDg3LjUxLDU2LjQ5YTEyLDEyLDAsMSwxLDE3LTE3bDgwLDgwQTEyLDEyLDAsMCwxLDE4NC40OSwxMzYuNDlaIj48L3BhdGg+PC9zdmc+');
  }
  .swiper-button-prev {
    background-color: white;
    box-shadow: 0 0 15px 0 rgba(56, 119, 238, 0.1);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMiIgaGVpZ2h0PSIzMiIgZmlsbD0iIzM4NzdlZSIgdmlld0JveD0iMCAwIDI1NiAyNTYiPjxwYXRoIGQ9Ik0xNjguNDksMTk5LjUxYTEyLDEyLDAsMCwxLTE3LDE3bC04MC04MGExMiwxMiwwLDAsMSwwLTE3bDgwLTgwYTEyLDEyLDAsMCwxLDE3LDE3TDk3LDEyOFoiPjwvcGF0aD48L3N2Zz4=');
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    content: '';
  }
  .circle-container {
    width: 530px; //
    height: 530px;
    border: $border-color 1px solid;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    .dot {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: $text-color 1px solid;
      justify-content: center;
      border-radius: 50%;
      align-items: center;
      color: transparent;
      transform: translate(-50%, -50%);
      background-color: $text-color;
      align-content: center;
      width: 6px;
      height: 6px;
      position: absolute;
      top: 50%;
      left: 50%;
      cursor: pointer;
      transition: all 0.5s;

      &.active {
        width: 56px;
        height: 56px;
        background-color: transparent;
        color: $text-color;
        transition: all 0.5s;
      }
    }
  }
}
